:root {
  --main-bg-color:rgb(30, 31, 53);
  --secondary-bg-color: rgb(22, 57, 92);
  --main-border-color: rgb(247, 201, 201);
  --secondary-border-color: rgb(81, 115, 189);
  --header-text-color: rgb(169, 230, 230);
  --content-text-color: rgb(30, 31, 53);
}

* {
  margin:0;
  padding:0;
  font-family:'Ariel; Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  background-color: var(--secondary-bg-color);
  border-bottom: 3px dashed var(--main-border-color);
  color: var(--header-text-color);
  font-size: 1.5rem;
}
 
.navbar a {
  justify-content: space-between;
  font-size: 1.5rem;
  color: var(--header-text-color);
  margin-left:30px;
  width: 100%;
  transition: .4s;
  text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
  color: rgb(17, 11, 102);
}

.about-me-content,
.work-item-1,
.work-item-2,
.work-item-3,
.gitHub-container {
  width: 98%;
  height: auto;
  padding: 15px;
  margin: 20px 15px 100px 15px;
  border: 3.5px solid var(--secondary-border-color);
  box-shadow: 0 0 3px white;
  border-radius: 15px;
  color:white;
  display: flex;
  justify-content: space-between;
}

.h2,
p {
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin: 15px 0px 0px 0px;
  
}

.about-me-content p,
.work-item-1 p,
.work-item-2 p,
.work-item-3 p {
  font-size: auto;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.portfolio-image,
.png {
  margin: 1.2rem auto;
  max-height:15rem;
  border: 2px solid white;
}

.work-item-1 a,
.work-item-2 a,
.work-item-3 a,
.gitHub-container a{
  color:white;
}

.work-item-1 a:hover,
.work-item-1 a.active,
.work-item-2 a:hover,
.work-item-2 a.active,
.work-item-3 a:hover,
.work-item-3 a.active,
.gitHub-container a:hover,
.gitHub-container a.active {
  color: red;
}
